#nprogress .bar {
    background: hsl(var(--brand-foreground)) !important;
    height: 5px;
}

#nprogress .peg {
    box-shadow: 0 0 10px hsl(var(--brand-foreground)), 0 0 5px hsl(var(--brand-foreground));
}