.rcb-chat-tooltip-tail {
    border-color: transparent transparent transparent rgb(66, 176, 197) !important;
}

.rcb-chat-header .rcb-bot-avatar {
    width: 22px;
    height: 30px;
    background-size: 22px 17px;
    background-repeat: no-repeat;
    background-position: center;
}

.rcb-chat-header {
    color: #000;
    font-family: 'Asap';
    font-weight: bold;
    display: flex;
    align-items: center;
}

.rcb-chat-header .rcb-close-chat-icon {
    width: 14px;
    height: 14px;
}

.rcb-chat-window {
    border-radius: 12px;
}

.rcb-chat-header-container {
    border-bottom: 1px solid #ebebeb;
}

.rcb-chat-input .rcb-chat-input-textarea {
    /* box-sizing: border-box !important; */
    /* padding: 16px; */
    font-size: 12px;
    line-height: 14px;
}
.rcb-chat-input .rcb-chat-input-textarea:focus {
    border: 1px solid #000;
    box-shadow: none !important;
}