@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    /* Name: custom color palette
       Author: Ilias Ism
       URL: https://gradient.page */

    /* CSS: .bg-gradient { background: var(--gradient) } */
    --gradient: #000C40;
    --background: 0, 0%, 96.47%;
    --foreground: 243 10% 0.52%;

    --muted: 243 10% 91.3%;
    --muted-foreground: 243 5% 41.3%;

    --popover: 243 10% 91.3%;
    --popover-foreground: 243 10% 0.65%;

    --card: 0, 0%, 100%;
    --card-foreground: 243 10% 0.65%;

    --border: 243 15% 89.52%;
    --input: 243 15% 89.52%;

    --primary: 243 100% 13%;
    --primary-foreground: 243 2% 91.3%;

    --secondary: 243 5% 95.65%;
    --secondary-foreground: 243 7% 11.3%;

    --accent: 243 5% 95.65%;
    --accent-foreground: 243 7% 11.3%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;

    --ring: 243 100% 13%;

    --radius: 0.5rem;

    --brand: 168 41.67% 95.29%;
    --brand-foreground: 174.88 45.05% 64.31%;

    --ink: 243 10% 0.52%;
    --ink-foreground: 0, 0%, 96.47%;

    /* toast theme */
    --toastify-toast-min-height: 32px;

    --toastify-color-info: #5dade2;    
    --toastify-color-success: #58d68d; 
    --toastify-color-warning: #f4d03f; 
    --toastify-color-error: #ec7063;   
  }

  .dark {
    /* CSS: .bg-gradient { background: var(--gradient) } */
    /* Name: custom color palette
       Author: Ilias Ism
       URL: https://gradient.page */

    /* CSS: .bg-gradient { background: var(--gradient) } */
    --gradient: #F7F8F8;

    --background: 250, 21.43%, 10.98%;
    --foreground: 191 0.7000000000000001% 99.85%;

    --muted: 191 3.5000000000000004% 29.099999999999998%;
    --muted-foreground: 191 0.7000000000000001% 59.7%;

    --popover: 191 63.6% 12.61%;
    --popover-foreground: 191 0.7000000000000001% 99.85%;

    --card: 244, 18.52%, 15.88%;
    --card-foreground: 191 0.7000000000000001% 99.85%;

    --border: 191 3.5000000000000004% 29.099999999999998%;
    --input: 191 3.5000000000000004% 29.099999999999998%;

    --primary: 191 7% 97%;
    --primary-foreground: 191 0.7000000000000001% 9.7%;

    --secondary: 191 3.5000000000000004% 29.099999999999998%;
    --secondary-foreground: 191 0.7000000000000001% 99.85%;

    --accent: 191 3.5000000000000004% 29.099999999999998%;
    --accent-foreground: 191 0.7000000000000001% 99.85%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 191 0.7000000000000001% 99.85%;

    --ring: 191 7% 97%;

    --brand: 168.26 37.7% 23.92%;
    --brand-foreground: 174.07 43.78% 63.73%;

    --ink: 243 10% 0.52%;
    --ink-foreground: 191 0.7000000000000001% 99.85%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}